header.navbar.navbar-static-top.navbar-default#top
    div.container
        div.navbar-header
            a(href='#').navbar-brand JetSpider
        div.collapse.navbar-collapse
            ul.nav.navbar-nav
                li.active
                    a(href="/") Index
                li
                    a(href="#") Link